flask
flask-cors
psycopg2-binary
sentence-transformers
google-genai
openai==0.28
google-generativeai
ultralytics
opencv-python
matplotlib 
numpy 
torch 
torchvision
google-api-python-client
pytube
yt-dlp
transformers
accelerate
timm
selenium
pillow
tqdm
webdriver-manager
insightface
bs4
albumentations
psycopg2
google
imageio
insightface
opencv-python
onnxruntime
